:root {
    --main-font: 'Archivo', sans-serif;
    --base-font-size: 1rem;
    --headings-font-size: 2.5rem;
    --padding: 12px;
    --background-color: #111114;
    --light-color: #E2E2E2;
    --primary-color: #FFC549;
}

body {
    font-family: var(--main-font);
    background-color: var(--background-color);
    color: var(--light-color);
    padding: var(--padding);
}

.info {
    margin-bottom: var(--padding);
    width: fit-content;
}

p {
    font-size: var(--base-font-size);
}

.drumroll p {
    opacity: 70%;
}

.product-title {
    font-size: calc(var(--base-font-size) * 2);
    margin-top: var(--padding);
}

.product-description {
    font-size: var(--base-font-size);
    width: 35ch;
    line-height: calc( var(--base-font-size) * 1.2);
    opacity: 70%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
}

.now {
    font-size: var(--base-font-size);
}

h1 {
    font-size: var(--headings-font-size);
}

.actual-weather {
    font-size: var(--headings-font-size);
}

.forecast {
    font-size: var(--base-font-size);
}

.search {
    display: flex;
    gap: 8px;
    background-color: #1E1E20 ;
    margin-bottom: 8px;
    color: var(--light-color);
    padding: 8px 16px 8px 16px;
    border-radius: 16px;
    justify-content: flex-end ;
    width: 100%;
    max-width: 350px;
}

input {
    width: 250px;
}

.search input[type="text"]::placeholder {
    opacity: 50%;
    font-family: var(--main-font);
}

.search input[type="text"]:focus {
    opacity: 100%;
    font-family: var(--main-font);
}

.emoji {
    font-size: 56px;
}

.weather-details-container {
    display: flex;
    padding-bottom: var(--base-font-size);
    justify-content: space-between;
}

.weather-container {
    padding: 24px 32px 24px 32px;
    background-color: #1E1E20;
    border-radius: var(--base-font-size);
}

.weather-metadata {
    padding-top:var(--base-font-size);
    opacity: 50%;
    border-top: solid 1px rgba(255, 255, 255, 0.5);
}

.drumroll {
    padding: 16px 0px 16px 0px;
}

.drumroll > h1  {
    color: var(--primary-color) ;
}

img {
    border-radius: 24px ;
}

.overview {
    display: flex;
    gap: 8px;
    justify-content:start ;
    margin: 16px 0px 16px 0px;

}

.overview-card {
    display: flex;
    gap: 24px;
    background-color: hsla(41, 100%, 64%, 0.2);
    padding: 24px;
    width: fit-content;
    max-width: 200px;
    margin-top: 0px;
    border-radius: var(--base-font-size);
    
}



.property {
    opacity: 50%;
}

.time {
    opacity: 50%;
    width: 55px;
}

.step {
    width: 185px;
    height: auto;
}

.water {
    font-weight: 500;
    width: 51px;
    text-align: right;
}

.instructions-strip {
    display: flex;
    gap: 8px;
    background-color: #1E1E20;
    width: fit-content;
    padding: 21.5px;
    border-radius: 16px ;
    margin-bottom: 8px;
}

.button {
    background-color: var(--primary-color);
    color: var(--background-color);
    text-align: center;
    padding: 20px 40px 20px 40px;
    margin-top: 16px;
    border-radius: var(--base-font-size);
    max-width: 350px;

}

.coffee-image {
    max-width: 350px;
    border-radius: 24px;}

.coffee-image-desktop {
    display: none;
    border-radius: 24px;
    width: 100%;
    height: auto;
    max-width: 535px;
}

.coffee-image,
.coffee-image-desktop {
    object-fit: cover;
}

.weather-container {
    max-width: 350px;
}

.button-desktop {
    display: none;
}

#somethingElseBtn {
    background-color: var(--primary-color);
    color: var(--background-color);
    text-align: center;
    padding: 20px 40px 20px 40px;
    margin-top: 16px;
    border-radius: var(--base-font-size);
    cursor: pointer;
    width: 350px;
}


@media (min-width: 501px) {

    :root {
        --headings-font-size: 56px;
    }

    body {
        margin: 0;
        margin-top: 50px;
        padding: 0; 
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 15px;
    }

    .under-weather-content {
        display: flex;
        gap: 80px;
    }

    .weather-container {
        max-width: 348px;
    }

    .coffee-image {
        position: absolute;
        right: 300px;
        top: 100px;
    }

    .coffee-image {
        display: none;
    }

    .coffee-image-desktop {
        display: block;
        border-radius: 24px;
        width: 535px;
        min-width: 350px;
        height: 734px;
    }

    .button {
        max-width: fit-content;
        padding: 20px 40px 20px 40px ;
    }

    .button-desktop {
        display: block;
        background-color: var(--primary-color);
        color: var(--background-color);
        text-align: center;
        padding: 20px 40px 20px 40px;
        margin-top: 16px;
        border-radius: var(--base-font-size);
        max-width: 350px;
    }

    .button {
        display: none;
    }

    .overview-card {
        margin: 0px;
    }

    .overview {
        margin: 0px;
        margin-bottom: 16px ;
    }

    .drumroll {
        padding: 16px 0px 16px 0px;
    }

}